@font-face{
			font-family: Organo;
			src: url('../fonts/Organo.ttf');
}
@font-face {
			font-family: 'Pe-icon-7-stroke';
			src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
			src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
				url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
				url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
				url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
			font-weight: normal;
			font-style: normal;
}


  body       {
	        /* margin:0;
			 padding:0;*/
			 overflow-x:hidden;
 }

/*red-#ff0000*/
/*blcak-#080807*/

h1,h2,h3,h4,h5,h6,span,b{
	     	   font-family: Organo; 
			   font-weight: 400; 
			   }
				  		  
 .cd-intro span .red{ 
                color:red ;
                font-family: Organo; 
    }
  
#header     {    
                background:url(../images/Rectangle%201.jpg);
				background-size:cover;
				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-repeat:no-repeat;
				height:640px;
				background-attachment:fixed;
				color:#fff;
				}
#header nav.navbar {
               /*  margin: 18px 0px;*/
				 padding: 20px 0px;
}
#header .navbar-brand span{
                font-size: 1.2em;
}	

 #header .navbar-brand {
	 padding:0px 22px;
	
 }
	
@media only screen and (min-width: 968px) {
	 #header .navbar-brand 
              {
				font-size:2em;
				left: 47.5%;
                color: #ff0000;
				text-align: center;
				position: absolute;
	}
}

   



#header ul.nav.navbar-nav.navbar-left {
                margin-left: 13.7%;
 }
#header ul.nav.navbar-nav.navbar-right {
                margin-right: 181px;
}
#header nav.navbar{
				 background:transparent;
				 font-size:1em;
 }
#header .nav li{         padding:0px 5px
}				   
#header .nav li a{       color:#fff;
}				   
#header .nav li a:hover, .nav li a:focus {
                 background-color:transparent;
                 color: red;
}
/*#header .header-text{
	              position: relative;
				  display: table;
				  text-align: center;
				  top: 26%;
				  left: 50%;
				  margin-top:72px;
				  transform: translate(50%,-50%);
                   }*/
				   
				   
#header .header-text{
	              display: table;
				  text-align: center;
                  position: relative;
				  top: 36%;
				  left: 50%;
				  transform: translate(-50%, -50%);
	
}
	/*.cd-intro{width:0%!important;}		*/	   
#header .header-text h1{   
                 font-size: 3em;	
			     line-height: 1.2;
			   } 

#header .header-text button{
    			  color: #fff;
				  background-color: transparent;
				  padding: 12px 54px;
				  border: 2px solid red;
				  margin: 16px 0px;
            }
			
#header .header-text button:hover{
	             transition:.2s;
				 background: #ff0000;
}
#header span.icon-bar {
                 background: #ff0000;
}			

  
  @media only screen and (max-width: 1268px) {
	  #header .navbar-collapse.in {
				  background-color: #000; 
				  position: absolute;
				  z-index: 200;
				  width: 100%; 
				  opacity:.9;
	}
	
   #header ul.nav.navbar-nav.navbar-left {
                  margin-left: 0%;
	}  
   #header ul.nav.navbar-nav.navbar-right{
		          margin-right: 0%;
	 }
  #header .navbar-nav {
	              margin:0px;
	  } 
  #header .nav>li>a:hover{
	              background-color: transparent
	    }	  
  }
  
 #header .header-contact .fa{
	              font-size:1.6em;
  }
  

/* #header.menu-item {
				  width:200px;
				  height:200px;        
				  position:relative;    
				  transform: translateY(100px) 
}*/
/* render diamond shape */

.header-contact {
                  position: relative;
				  display: table;
				  margin: 0 auto;
                  transform: translate(-292%,16%);
				 
}
.header-contact .diamond-grid {
                   width: 40px;
  
}
.header-contact ul{
				  list-style: none;
				  display:inline-flex;
  
}
 
.header-contact .diamond {
				  height: 40px;
				  width: 40px;
				  background: transparent;
				  color: #fff;
				  display: block;
				  overflow: hidden;
				  position: relative;
				  text-decoration: none;
				  
				  -webkit-transform: rotate(45deg);
				  -moz-transform: rotate(45deg);
				  -ms-transform: rotate(45deg);
				  -o-transform: rotate(45deg);
				  transform: rotate(45deg);
				  -webkit-transition: color .35s linear;
				  -moz-transition: color .35s linear;
				  -o-transition: color .35s linear;
				  transition: color .35s linear;
}

.header-contact .diamond:hover {
                   border: 3px solid red;
}

.header-contact .active{
	               border: 3px solid red;
}

.header-contact .text {
				  width: 30px;
				  height: 30px;
				  font-family: 'Open Sans', sans-serif;
				  font-size: 13px;
				  text-transform: uppercase;
				  padding: 0 10px;
				  display: table-cell;
				  vertical-align: middle;
				  -webkit-transform: rotate(-45deg);
				  -moz-transform: rotate(-45deg);
				  -ms-transform: rotate(-45deg);
				  -o-transform: rotate(-45deg);
				  transform: rotate(-45deg);
				  text-align: center;
}


@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
  
  .quotes {display: none;}
  .cd-intro{
	  font-size: 48px;
	  margin:12px 10px 8px;
  }
  
 /* @media(max-width:468px){
	 .cd-intro{
		 font-size:38px;
	 }
  }*/
	  
/*	header	*/	
#header-footer .row.no-gutters {
				  margin-right: 0;
				  margin-left: 0;
				 
}
#header-footer .row.no-gutters > [class^="col-"],
#header-footer .row.no-gutters > [class*=" col-"] {
				  padding-right: 0;
				  padding-left: 0;
}

#header-footer .header-bottom-button{
				  width: 206px;
				  height: 45px;
				  padding: 9px 0px;
				  margin: 16px 0px;
				  border: 2px solid red;
				  color: #fff;
				  letter-spacing: 0px;
				  font-weight: initial;
				  font-size: 17px;
				  background:transparent;
}

#header-footer .header-bottom-button:hover{
	              background:#000;
	
}

#header-footer p{
	              font-weight:100;
				  font-size:16px;
}

#header-footer h3{
	    margin-top: 33px;
}
#header-footer .img-overlay:hover {
				  position: absolute;
				 /* width: 445px;*/
				  opacity: .5;
				  background: red;
				 /* height: 297px;*/
	
}


#header-footer .background {
	               background: red;
				   height: 260px;
			
}
#header-footer .background:hover img {
	               opacity: 0.5;
 }

  #header-footer .text-center {
				 text-align: center;
				 position: relative;
                 top: -240px;
                 left: -.9%;
}

#header-footer img{
	               width:100%;
				   height:260px;
}



/*....about us...*/

about-us{
	margin-top: 100px;
	margin-bottom: 120px;
}

hr {
    
    width: 110px;
    border-top: 3px solid red;
}
.container_header{
	margin-bottom: 60px;
}
.container_header p{
	max-width: 830px;
	margin: auto;
	font-size:18px;
}

.single_about_content p{
	font-size:16px;
}
.about_content i{
	font-size: 60px;
	/*margin-bottom: 25px;*/
}
.about_content h2{
	margin-bottom: 20px;

}
.about_content span{
	color: red;
}
.single_about_content{
	padding: 15px 10px;
	border:1px solid white;
	transition:1s;
}
.single_about_content:hover{
	background-color: #F7F7F8;
	border: 1px solid red;
}
.about_content p{
	max-width: 285px;
	margin: auto;
	margin-top: 25px;
}
.about_content h3{
	font-size: 20px;
}

/*...........services.........*/

#services{
	background-image:url(../images/services_background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding-bottom:70px;
}
#services h1{
	padding-top: 50px;
}
.service_content{
	background-color: rgba(247,247,248,.8);
	padding-top: 50px;
	padding-bottom: 20px;
	margin: auto;
	margin-bottom: 30px;
	width: 300px;
	transition:1s;
}

@media (max-width:400px){
	.service_content{
		width:250px;
	}
}
	
.service_content hr{
	border-top: 1px solid red;
}
.service_content ul{
	list-style-type: none;
	padding-right: 40px;
}
.service_content:hover{
	background-color: rgba(216,0,0,.5);
	color: white;
}



/*.........features..........*/

#features{
	padding: 100px 0px 70px;
	background-color: #fff;
}
#features i{
	font-size: 38px;

}
#features ul{
	list-style-type: none;
}
.features_content li{
	margin-bottom: 35px;
}
.features_list_content p{
	max-width: 320px;
	/*margin-left: 50px;*/
	margin:0 auto;
	
}

#features span{
	color:red;
}
	
/******************portfolio*********************/
.portfolio-section {
    padding-bottom:40px;
}


/* category filter */

.filter-section {
	padding-top:40px;
}


.filter-container {
    text-align:center;
    padding:20px;
	margin:12px 0px 30px;
}


ul.filter > li > a {
    color:#000;
    font-size:20px;
    line-height:40px
}

ul.filter > li > a:hover,ul.filter > li > a:focus {
    text-decoration:none;
    color:#fff;
    outline:none
}

ul.filter > li.active a {
    color:#fff;
}

ul.filter > li span {
    color:#ddd;
    font-size:20px;
    display:inline-block;
    margin:0 5px
}

.filter-section .filter-container .filter > li {
    padding:0;
    margin-left:3px;
}

.filter-section h1 {
    text-align:center
}


/* the color of the transparent overlay border */

/*.portfolio-section.port-col figure .overlay-background {
    background-color:#000;
    background-color:rgba(0,0,0,0.4);
}*/


/* portfolio images */

.portfolio-section figure {
    float:left;
    width:100%;
    position:relative
}

.portfolio-section figure img {
    width:100%;
    height:auto
}


/* project title under image */

.portfolio-section .article-title {
    text-align:center;
    float:left;
    width:100%;
    font-size:18px;
    line-height:24px;
    padding:10px 0 30px 0;
}

.portfolio-section .article-title a {
    color:#aaa
}


/* transparent overlay */

.portfolio-section figure:hover .overlay {
    opacity:.5;
    visibility:visible
}

.portfolio-section figure:hover .overlay-background {
    opacity:.5;
    visibility:visible
}

.portfolio-section figure .overlay-background {
    z-index:1;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .overlay-background {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
   
    background-color:red;
	opacity:.5;
	
   
}

.portfolio-section figure .overlay {
    z-index:2;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay {
    display:table;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay-content {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    padding:20px 40px
}

.portfolio-section figure .inner-overlay-content.with-icons {
    text-align:center
}


/* icons inside overlay */

.portfolio-section figure .inner-overlay-content.with-icons a {
    width:40px;
    height:40px;
    line-height:42px;
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    font-size:20px;
	/*background:rgba(0,0,0,0.9);*/
    color:#fff;
    border-radius:0
}


/* skew image on hover */ 

.isotopeSelector img {
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease
}

.isotopeSelector:hover img {
    -moz-transform:scale(1.5) rotate(2deg);
    -webkit-transform:scale(1.5) rotate(2deg);
    -o-transform:scale(1.5) rotate(2deg);
    -ms-transform:scale(1.5) rotate(2deg);
    transform:scale(1.5) rotate(2deg);
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease
}

.isotopeSelector figure {
    overflow:hidden
}

/*.isotopeSelector figure {
    box-shadow:0 0 2px rgba(0,0,0,0.2)
}*/


.isotopeSelector{
	padding:0px;
}




/*
|--------------------------------------------------------------------------
|  Demo Specific Code
|--------------------------------------------------------------------------
|
|
|
*/



.demo-colored-wrap {
	background:#fff;
}

.demo-colored-wrap button{
	color: #000;
    background-color: #fff;
	width:191px;
	height:42px;
	border-radius:0px;
    /*padding: 12px 54px;*/
    border: 2px solid red;
    margin: 16px 0px;
	font-weight:600;
	font-size:16px;
}

.demo-colored-wrap .btn-default:hover{
    background:#000;
	transition:.2s;
	color:#fff;
	border-color:#000;
	font-weight:600;
	font-size:16px;
	}
	
	.overlay-background:hover {
    background: red;
	opacity:.5
}

/***************portfolio*******************/


/* 5 - About Us Section
---------------------------------------------------------------------- */
/*@media (min-width:968px){
	.no-gutter  {
		margin-left: 62px;
		margin-right: 62px;
	}
}*/

/*.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}*/

@media (min-width:1170px){
	#about .row{
		margin-left: 161px;
        margin-right: 161px;
	}
}
.team-container .col-sm-4{
	padding:60px 10px 0 10px;
}
.team-container .team-member{
	max-width:280px;
	margin:auto;
	position:relative;
	overflow:hidden;
    box-shadow: -1px -1px 12px #CEC8C8;
}

.team-member img{
	width:280px;
}
.team-container figcaption{
	text-align:center;
	text-transform:uppercase;
	width:100%;
	height:110px;
	border:1px solid #fff;
	border-top-color:transparent;
	margin:0;
}
.team-container figcaption h4{
	font-size:22px;
	font-weight:700;
	padding-top:20px;
}
.team-container .member-name {
	font-size: 1.2em;
	font-weight: 700;
	margin: 0;
	padding: 26px 10px 5px 10px;
}

.team-container figcaption p{
	font-size: 1.125em;
}
.team-container .social-buttons{
	display:inline-block;
	margin:auto;
	text-align:center;
	width:100%;
}

.team-member .social-btn-container,
.team-member .social-btn-container .social-btn-box{
	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}

.team-member .social-btn-container {
	position: absolute;
	top: 0px;
	width: 280px;
    height: 245px;
	margin: 0 auto;
	left: 0;
}


	
.team-member:hover .social-btn-container{
	background: rgba(0,0,0,.5);
}
.team-member .social-btn-container .team-socail-btn{
	overflow: hidden;
	position: relative;
	width:245px;
	height: 230px;
	margin-left: 22px;
}

@media (max-width: 640px){
	.team-member .social-btn-container .team-socail-btn{
	 margin-left:37px;
	}
}
.team-member .social-btn-container .social-btn-box{
	position: absolute;
	border: 2px solid #fff;

}
.team-member .social-btn-container .facebook-btn-container{
	bottom: 220px;
	right: 230px;
}
.team-member .social-btn-container .twitter-btn-container{
	bottom: 220px;
	left: 230px;
}
.team-member .social-btn-container .linkedin-btn-container{
	top: 220px;
	right: 230px;
}
.team-member .social-btn-container .github-btn-container{
	top: 220px;
	left: 230px;
	
}
#about .alert-warning {
    color: #000;
    position: absolute;
    background:#fff;
    display: none;
    left: 25px;
    bottom: 60px;
    padding: 5px 10px;
    border-radius: 3px;
}
#about .alert-success {
    background-color: #fff;
    border-color: #d6e9c6;
    color: #fff;
}
.team-member:hover .social-btn-container .facebook-btn-container{
	bottom: 115px;
	right: 122px;
}
.team-member:hover .social-btn-container .twitter-btn-container{
	bottom: 115px;
	left: 122px;
}
.team-member:hover .social-btn-container .linkedin-btn-container{
	top: 115px;
	right: 122px;
}
.team-member:hover .social-btn-container .github-btn-container{
	top: 115px;
	left: 122px;
}
.team-container .social-buttons a{
	color:#fff;
	width:24px;
	height:24px;
	display:inline-block;
	font-size:24px;
	text-align:center;
}
.team-container {
    margin-bottom: 120px;
}
.team-container .team-member figure,
.team-container .team-member figcaption,
.team-container .team-member img,
.team-container .team-member .social-buttons{
	color:#000;
	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
.team-container .team-member:hover figure{
	background-color:grey;
	color:#000;
	
	
}
.team-container .team-member:hover figcaption{
	border-color:#3498db;
	color:#eae5e5;
	opacity:1;
	visibility:hidden;
	/*text-shadow:2px 2px 2px #000000;*/
}


.team-container .team-member:hover .social-buttons{
	top:90px;
}

.team-member .text{
	 position:relative;
	 visibility:hidden;
	
	
 }
 
 .team-member:hover .text{
	  visibility:visible;
	  transition:.2s ease-in;
	  webkit-transition:.2s ease-in;
	  margin:-60px;
	  color:#000;
	  font-family:roboto;
	  font-weight:600;
  }
  
  .team-member  p{
	  font-family:organo;
  }
  
  .social-btn-container .social-btn-box {
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /* border: 1px solid #fff; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

#about .social-btn-container .social-btn-box a {
	top: -27px;
    left: 6px;
}
.social-btn-container .social-btn-box a {
    color: #fff;
    font-size: 26px;
    line-height: 80px;
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -10px;
    left: -10px;
	
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
 .social-btn-box:hover i.fa {
    color: #000;
} 

.social-btn-box:hover {
    border-color: transparent;
    background: #fff;
}
/* 5 - About Us Section End 
---------------------------------------------------------------------- */

#join-team{
	   background:url(../images/imageHsolder1%20-%20Copy.jpg);
	   background-size:cover;
	  -webkit-background-size:cover;
	  -moz-background-size:cover;
	  -o-background-size:cover;
	  background-repeat:no-repeat;
	  background-attachment:fixed;
	  color:#fff;
     }
  


.form-control{
	padding: 6px 30px;
	height:52px;
}
.form-control,
.btn{
	background-color:transparent;

	-webkit-border-radius:0;
	   -moz-border-radius:0;
	    -ms-border-radius:0;
	     -o-border-radius:0;
	        border-radius:0;

	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
 	outline: none; 
 	color: #ffffff;
}
.form-control,
.form-control:focus{
	
	color:#fff;
	border:2px solid #fff;

	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	    -ms-box-shadow:none;
	     -o-box-shadow:none;
	        box-shadow:none;
}
#subscribe .social-btn-box:hover {
  
    background:transparent;
	}
#subscribe .social-btn-container .social-btn-box a {
    color: #000;
}
#subscribe .social-btn-container .social-btn-box {	
     margin:0;
}
.social-btn-box,
.social-btn-box a{
	
	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
#subscribe .social-btn-box i.fa:hover {
    color: red;
}
/* 2.3 - Placeholder color
------------------------------------------ */
.form-control::-webkit-input-placeholder {
   color: #ffffff;
}

.form-control:-moz-placeholder { 
   color: #ffffff;  
}

.form-control::-moz-placeholder { 
   color: #ffffff;  
}

.form-control:-ms-input-placeholder{
	color:#ffffff;
}
/* 2.3 - Placeholder color End 
------------------------------------------ */
/* 6 - Subscribe Section
---------------------------------------------------------------------- */

form.news-letter{
	max-width:550px;
	margin:auto;
	height:60px;
	margin-top:70px;
	position:relative;
}
form.news-letter .form-control{
	height:60px;
	padding-right:75px;
}
form.news-letter .btn{
	width:60px;
	height:60px;
	border:1px solid #fff;
	position:absolute;
	top:0;
	right:0;
	font-size:25px;
}


#subscribe-submit i.fa {
	 color:#000;
}

#subscribe-submit i.fa:hover {
	 color:red;
}
form.news-letter .btn:hover{
	color:#3498db;
}
#subscribe-loading {
	display: none;
	line-height: 45px;
	cursor: inherit;
}
#subscribe-loading:hover{
	color: inherit;
}
.subscribe-message{
	text-align: center;
	font-size: 1.125em;
}

.alert-warning{
	color: #ffffff;
	position: absolute;
	background: rgba(52, 152, 219,1);
	display: none;
	left: 25px;
	bottom:60px;
	padding: 5px 10px;
	border-radius: 3px;
}
.alert-warning:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px;
	border-color: rgba(52, 152, 219,1) transparent  transparent transparent;
	left: 25px;
	bottom: -24px;
}




@media (max-width:768px){
	#last_name{
		margin:21px 0px
	}	
}
	
  .send{
	   display: table;
	   margin: 45px auto;
	   background: red;
	   width: 108px;
	   height: 40px;
	   border: 0;
	   color:#fff;
  }
  
  .sent a:hover{
	   color:#ffF;
	   text-decoration:none;
  }
/* 6 - Subscribe Section End 
---------------------------------------------------------------------- */




/* 7 - Contact Section
---------------------------------------------------------------------- */
#contact .next-section a{

	-webkit-transform:rotate(180deg);
	   -moz-transform:rotate(180deg);
	    -ms-transform:rotate(180deg);
	     -o-transform:rotate(180deg);
	        transform:rotate(180deg);
}
/*#contact-form .col-sm-6, 
#contact-form .col-sm-10,
#contact-form .col-sm-2{
	padding:0;
}*/
#contact-form{
	margin-top:70px;
	margin-bottom:10px;
}
#contact-form  {
	height:60px;
}

/*@media (min-width: 992px){
 .email-contact {
       width: 71%;
 }
}*/
/*#contact-form #first_name{
	border-right:0px solid transparent;
	border-bottom:0px solid transparent;
}
#contact-form #last_name{
	border-bottom:0px solid transparent;
}
#contact-form  #email{
	border-right:0px solid transparent;
}
#contact-form textarea.form-control{
	height:130px;
	border-top:0px solid transparent;
	padding-top: 20px;
}*/
#contact-form  .btn{
	font-size:50px;
	height: 169px;
    width: 109%;
    margin: 12px 0px;
    border: 1px solid #fff;
    border-left: 0px solid transparent;
}

@media only screen and (max-width: 768px) {
	 #contact-form  .btn{
	width:100%;
	height:130px;
 }
 input#last_name{
    margin: 0px 15px;
 }
 
 @media only screen and (max-width: 768px) {
	 #contact-form  .btn {
	width:100%;
	height:130px;}
	}
 input#last_name{
    margin: 0px 0px 15px 0px;
	}
 

#contact-form i.fa{
	 color:#fff;
}
#contact-form  .btn:hover{
	color:#3498db;
}
#contact-form  .col-sm-6,
#contact-form  .col-sm-10{
	position: relative;
}
.first-name-error,
.last-name-error,
.contact-email-error,
.contact-subject-error,
.contact-message-error{
	color: #ffffff;
	position: absolute;
	background: rgba(52, 152, 219,1);
	display: none;
	left: 25px;
	top: -30px;
	padding: 5px 10px;
	border-radius: 3px;
}

.first-name-error:after,
.last-name-error:after,
.contact-email-error:after,
.contact-subject-error:after,
.contact-message-error:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px;
	border-color: rgba(52, 152, 219,1) transparent  transparent transparent;
	left: 25px;
	bottom: -24px;
}
#contact-loading{
	display: none;
	cursor: inherit;
	line-height: 110px;
}
#contact-loading:hover{
	color: inherit;
}
.contact-message{
	text-align: center;
	font-size: 1.125em;
}

/* 7 - Contact Section End 
---------------------------------------------------------------------- */
















